MONGODB_URI=mongodb+srv://USERNAME:PASSWORD@CLUSTER.mongodb.net/
MONGODB_DATABASE=docu_sense
MONGODB_VECTOR_INDEX=vector_index

HF_TOKEN=hf_your_token_here
HF_LLM_MODEL=HuggingFaceH4/zephyr-7b-beta
HF_EMBEDDING_MODEL=sentence-transformers/all-MiniLM-L6-v2

ALLOWED_ORIGINS=http://localhost:3000
NEXT_PUBLIC_API_URL=http://localhost:8000
