MONGODB_URI=mongodb+srv://USERNAME:PASSWORD@CLUSTER.mongodb.net/appName=Cluster0
MONGODB_DATABASE=docu_sense
MONGODB_VECTOR_INDEX=vector_index

HF_TOKEN=
HF_LLM_MODEL=meta-llama/Llama-3.1-8B-Instruct
HF_EMBEDDING_MODEL=sentence-transformers/all-MiniLM-L6-v2

ALLOWED_ORIGINS=http://localhost:3000
NEXT_PUBLIC_API_URL=http://localhost:8000
